*{
    margin: 0;
    padding: 0;
    
}

:root{  
    /* Brand color */
    --brand-color: #F67841;
    --brand-mid: #F3541C;
    --brand-dark: #E43A12;

    /* Text color */
    --text-primary: #292524;
    --text-secundary: #57534E;
    --text-tertiary: #8F8881; 
    --text-highlight: #E43A12;

    /* Surface color */
    --surface-primary: #FFFFFF;
    --surface-secundary: #FEE7D6;
    --surface-disabled: #E7E5E4;

    /* Stroke color */
    --stroke-default: #D6D3D1;
    --stroke-highlight: #F3541C;

    /* Semantic color */
    --semantic-error: #DC2626;

    /* Supporting color */
    --orange: #F9A474;
    --yellow: #FEDF6F;
    --green: #C7D78D;
    --blue: #B8CEDC;
    --violet: #C3B2E7;
    --pink: #F682A5;

    /* Font */
    --font-family: "Poppins", sans-serif;
    --text: 400 1rem/1.5 var(--font-family); /* rem ajusta a fonte de acordo com a fonte ajustada no navegador */
    --text-sm: 400 0.875rem/1.4 var(--font-family);
    --h1: bold 32px/120% var(--font-family);
    --h2: bold 24px/120% var(--font-family);
    --h3: bold 20px/120% var(--font-family);
    --h4: bold 16px/120% var(--font-family);

}

body{
    overflow: hidden;

    font: var(--text);
    color: var(--text-secundary);
}

h1{
    color: var(--text-primary);
}

h2{
    color: var(--text-primary);
}

/* img{
    width: 100%;
} */